body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
}

.container {
  display: flex;
  background-color: white;
  height: 2rem;
  width: 20rem;
  padding: 6px;
  border-radius: 1rem;
}

input {
  font-size: 1.2rem;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}
.eye {
  height: 2rem;
  cursor: pointer;
}
